<span id="statButtons">
	<li id="summary"><a class="grouped-left">Summary</a></li>
	<li id="commentary"><a class="grouped-middle">Commentary</a></li>
	<li id="evidence"><a class="grouped-middle">Evidence</a></li>
	<li id="synthesis"><a class="grouped-right">Unmarked</a></li>
</span>
