<!-- Like Clean HTML? -->
<div id='stats'>
  <div id='padStats'>
    <h1>Pad Stats</h1>
    <div id='length'>
      <h2>Characters (no whitespace):</h2>
      <div class='stats'></div>
    </div>
    <div id='lengthWhitespace'>
      <h2>Characters (with whitespace):</h2>
      <div class='stats'></div>
    </div>
    <div id='wordCount'>
      <h2>Word Count:</h2>
      <div class='stats'></div>
    </div>
    <div id='summaryCount'>
      <h2>Summary Count:</h2>
      <div class='stats'></div>
    </div>
    <div id='commentaryCount'>
      <h2>Commentary Count:</h2>
      <div class='stats'></div>
    </div>
    <div id='evidenceCount'>
      <h2>Evidence Count:</h2>
      <div class='stats'></div>
    </div>
    <div id='synthesisCount'>
      <h2>Synthesis Count:</h2>
      <div class='stats'></div>
    </div>
    <div id='unmarkedCount'>
      <h2>Unmarked Count:</h2>
      <div class='stats'></div>
    </div>
    <div id='summaryP'>
      <h2>Summary %:</h2>
      <div class='stats'></div>
    </div>
    <div id='commentaryP'>
      <h2>Commentary %:</h2>
      <div class='stats'></div>
    </div>
    <div id='evidenceP'>
      <h2>Evidence %:</h2>
      <div class='stats'></div>
    </div>
    <div id='synthesisP'>
      <h2>Synthesis %:</h2>
      <div class='stats'></div>
    </div>
    <div id='unmarkedP'>
      <h2>Unmarked %:</h2>
      <div class='stats'></div>
    </div>
</div>
