<!-- Like Clean HTML? -->
<div id='stats'>
  <div id='padStats'>
    <h1>Pad Stats</h1>
    <div id='length'>
      <h2>Characters (no whitespace):</h2>
      <div class='stats'></div>
    </div>
    <div id='lengthWhitespace'>
      <h2>Characters (with whitespace):</h2>
      <div class='stats'></div>
    </div>
    <div id='wordCount'>
      <h2>Word Count:</h2>
      <div class='stats'></div>
    </div>
    <div id='revCount'>
      <h2>Revision Count:</h2>
      <div class='stats'></div>
    </div>
    <div id='savedRevCount'>
      <h2>Saved Revision Count:</h2>
      <div class='stats'></div>
    </div>
    <div id='authorCount'>
      <h2># of Authors:</h2>
       <div class='stats'></div>
    </div>
  </div>

  <div class='authorStats'>
    <h1>Author Stats</h1>
    <div id='wordsContributed'>
      <h2>Number of Words Contributed to:</h2>
      <div class='stats'></div>
    </div>
    <div id='linesContributed'>
      <h2>Number of Lines Contributed to:</h2>
      <div class='stats'></div>
    </div>
    <div id='linesAsOnlyContributor'>
      <h2>Lines as Only Contributor:</h2>
      <div class='stats'></div>
    </div>
    <div id='numberOfCharsIncWS'>
      <h2>Number of Characters (Inc Whitespace):</h2>
      <div class='stats'></div>
    </div>
    <div id='numberOfCharsExcWS'>
      <h2>Number of Characters (Exc Whitespace):</h2>
      <div class='stats'></div>
    </div>
  </div>
</div>
